*.csv
loopback_starter_MSJ.c
*.mat
*.gel
.ccsproject
.csproject
.launches/
.project
.cproject
.settings/
processor.h
*.bin
*.asm
*.ccxmls
*.wav
*.pdf
*.zip
*.svgz
*.png
*.jpg
*.out
loopback_start_MSJ_ANSI_C/
docs/*
!*.tex
!*.bib

